
@font-face {
  font-family: 'CBSNEW';
  src: url('CBSNEW.eot?#iefix') format('embedded-opentype'),  url('CBSNEW.woff') format('woff'), url('CBSNEW.ttf')  format('truetype'), url('CBSNEW.svg#CBSNEW') format('svg');
  font-weight: normal;
  font-style: normal;
}
